body {
    background-color: whitesmoke;
}

.main{
    height: 1000px;
      width: 850px;
      background-color: white;
    }
.name{
    text-align: center;
    background-color:white;
 height: 100px;
 width: 1000px;


    }

    .bookmakers{
        
        text-align: center;
        height:900px;

        width: 300px;
        background-color: white;
    }
    .teams{
        background-color:white;
     height: 300px;
     width: 500px;
     float: right;
     text-align: center;
    }
    .betpawa{
     
        margin-top: 90px;
        background-color:white;
  height: 50px;
  width: 300px;
    }

    .castlebet{
        background-color:white;
  height: 50px;
  width: 300px;
    }

    .bolabet{
        background-color: white;;
  height: 50px;
  width: 300px;
    }

    .superbet{
        background-color:white;
  height: 50px;
  width: 300px;
    }
#home{
    background-color: white;
    height: 50px;
    width: 500px;
    float: left;
 
}

#status{
    background-color: white;
    height: 40px;
    width: 500px;
    float: left;
 
}

.odds1{
    margin-top: 90px;
    background-color:white;
height: 50px;
width: 500px;
text-align:center;
}

.odds2{
    background-color: white;
height: 50px;
width: 500px;
text-align:center;
}

.odds3{
    background-color: white;
height: 50px;
width: 500px;
text-align:center;
}

.odds4{
    background-color:white;
height: 50px;
width: 500px;

text-align:center;
}

.left{
    background-color:white;
    height: 50px;
    width: 150px;
    float: left;
}
.right{
    background-color:white;
    height: 50px;
    width: 150px;
  float: right;
}
.results{
    background-color:white;
height: 50px;
width: 500px;
}


.calculator{
    width: 100px;
    height: 20px;

}
#hometeam{
    background-color: white;
    height: 40px;
    width: 100px;
    text-align: center;
    float:left;
    border-radius:10px;
}
#awayteam{

    background-color: white;
    height: 40px;
    width: 100px;
    text-align: center;
    float:right;
    border-radius: 10px;
}

#calculator{
    height: 20px;
    width: 100px;
    background-color: white;
    text-align: center;
}
#invest{
    width: 500px;
    height: 100px;
 background-color: white;
}
#intesity{
    font-style: italic;
    color: blue;
}
#intesity2{
    font-style: italic;
    color: red;
}